<style type="text/css">
    .j-component-func {
        width: 100%;
        padding: 5px 10px;
    }

    .list-unstyled {
        list-style: outside none none;
    }

    .j-component-func {
        padding: 10px;
        border-bottom: 1px solid #F4F4F4;
        margin-bottom: 10px;
    }

    .j-component-func>ul {
        overflow: hidden;
    }

    .j-component-func>ul>li {
        float: left;
        width: 25%;
        text-align: center;
        padding: 2px 0;
    }

    .j-component-func>ul>li>a {
        display: block;
        font: 1em/25px 'microsoft yahei';
        color: #505050;
    }

    .j-component-func .fdayicon {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 45%;
        margin: 0 auto;
        background: #2ad2c9 url("images/home.png") no-repeat scroll 0% 0% / 117px auto;
    }

    .j-component-func .fdayicon-all {
        background-position: 12px 12px;
    }

    .j-component-func .fdayicon-order {
        background-position: 12px -26px;
        background-color: #FF9545;
    }

    .j-component-func .fdayicon-contact {
        background-position: 12px -64px;
        background-color: #ff585d;
    }

    .j-component-func .fdayicon-client {
        background-position: 11px -103px;
        background-color: #aec95f;
    }

    ul,ol {
        margin: 12px 0;
        padding-left: 0px;
    }
</style>
<div style="overflow-y:auto; overflow-x:auto;height:550px;padding-bottom:65px;text-align:center;">
    <img src="images/j-banner02.jpg" style="width: 100%;">
        <!-- ko foreach: dataurlarr2 -->
    <my-pie data-url="{{dataurl}}" chart-name="{{chartname}}"/>
    <!-- /ko -->
    <!-- ko foreach: dataurlarr3 -->
    <my-line data-url="{{dataurl}}" chart-name="{{chartname}}"/>
    <!-- /ko -->
</div>